<h1 class="text-center">Eat that veggie burger!</h1>

<div class="float-left w-50 mt-3">
    <h2>Eat these burgers:</h2>
    <ul class="mt-2">
        {{#each burgers}}
        {{#unless devoured}}
        <li class="mt-2">
            {{this.burgerName}}

            <button data-burgerID="{{this.id}}" id="devour">Eat me!</button>
        </li>
        {{/unless}}
        {{/each}}
    </ul>
</div>

<div class="float-right w-50 mt-3">
    <h2>Eaten burgers:</h2>
    <ul class="mt-2">
        {{#each burgers}}
        {{#if devoured}}
        <li>
            <p>
                {{this.burgerName}}
            </p>
        </li>
        {{/if}}
        {{/each}}
    </ul>
</div>

<div id="newBurger">
    <h2 class="mt-2">Add your own veggie burger</h2>
    <form class="create-form">
        <div class="form-group mt-3 ml-3">
            <label for="burger">Burger Name:</label>
            <input type="text" id="burger" name="name">
        </div>
        <button type="submit" id="submit">Add Burger</button>
    </form>
</div>

<link rel="stylesheet" type="text/css" href="\burger\views\layouts\style.css">