html {
    background: url(../images/plaid.jpg) repeat center center fixed;
}

body {
    background-color: transparent;
}

#newBurger {
    margin-left: 33%;
    float: left;
}

.divStyle {
    background-color: #fdfbf3;
    border: 1vw solid #e6aaac;
}