html {
    background: url(../images/plaid.jpg) repeat center center fixed;
}

body {
    background-color: transparent;
}

.divStyle {
    background-color: #fdfbf3;
    border: 0.5vw solid #e6aaac;
}
